<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">

    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <title>Respect</title>
  </head>
  <body>

    
<!-- NAVBAR -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong>Yayasan<span class="span_color">.Elmu</span></strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>Testimonies</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>Contact</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>About Us</strong></a>
        </li>
      </ul>
    </div>
  </nav>
<!-- END NAVBAR -->

<div class="container" style="text-align: center;">
  <div class="pen">
    <h4>
      Yayasan Elmu <span class="span_color">Nasirulmatiin</span>
    </h4>
  </div>

</div>
<br><br><br><br><br>
<br class="br_mobile"><br class="br_mobile"><br class="br_mobile"><br class="br_mobile"><br class="br_mobile"><br class="br_mobile"><br class="br_mobile">

<!-- <div class="container">
  <main>
    <div class="loader">
      <div class="scanner">
        <p>tessssssssssssssssssssssssssssssssssssssssssss</p>
      </div>
    </div>
  </main>
</div> -->



<div class="container"></div>
<div class="jumbotron">
  <h1 class="display-4">About <span class="span_color">Us</span></h1>
  <p class="lead" >Respect merupakan yayasan yang berfokus pada aktifitas bantuan kesehatan pada orang kurang mampu, adapun kegiatan lain seperti bantuan pendidikan, penyediaan bantuan pendidikan, dan bantuan penyediaan ambulance gratis.</p>

  <p id="remove-dekstop">Respect merupakan yayasan yang berfokus pada aktifitas bantuan kesehatan pada orang kurang mampu, adapun kegiatan lain seperti bantuan pendidikan, penyediaan bantuan pendidikan, dan bantuan penyediaan ambulance gratis.</p>

  <hr class="my-4">
  <p>Ayo berpartisipasi bersama kami</p> <br>

  <a id="remove-mobile" class="btn btn-lg" href="#" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Klik disini</a>

  <button type="button" class="btn btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="remove-dekstop">
    Klik Disini
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Donate Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        BCA&nbsp;&nbsp;: 08123866 <br>
        BRI&nbsp;&nbsp;&nbsp;: 00978787

       <br><br>
        atau bergabung dengan kami via email: <br>
        <i class="fa-solid fa-envelope"></i> &nbsp;&nbsp; respect.almatiin@gmail.com

      </div>

      
      
      <div class="modal-footer">
        <button type="button" class="btn btn" data-bs-dismiss="modal">Tutup</button>
        <!-- <button type="button" class="btn btn">Save changes</button> -->
      </div>
    </div>
  </div>
</div>





<br>
<!-- Visi Misi -->
<div class="container" >
  <div class="custom-control custom-switch" style="text-align: center;">
    <input type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1" data-toggle="collapse" href="#collapseExample">Visi dan Misi</label>
  </div>
  <br>

  <div class="collapse" id="collapseExample">
    <div class="card card-body" style="text-align: center;">
      <h5>Visi</h5>
      <p>Saling mengedukasi, memberi, menularkan rasa empati, dan mengajak tuk belajar memahami, menyadari, menghayati setiap peran yg qta jalani utk menjadi the best aktor.</p>
      <br>
      <hr>
      <h5>Misi</h5>
      <p>Dan semoga semua upaya kami ini menjadikan wasilah bagi kami untuk mengenal dan diridoi oleh sang pemberi peran, dan menjadikan wasilah untuk mendapatkan syafa'at dari nabi Muhammad saw.</p>
    </div>
  </div>

</div>





<!-- CONTENT 1 -->
<div class="container">
  <!-- <h2 class="text-center">Image Scroll on Hover</h2> -->
<div class="container">

  <div class="row">
    <div class="col mt-3">
      <p style="text-align: center;text-decoration: underline;">Our Visi</p>
      <br>
      <div class="scrolling-window">
        <!-- <img onload="initProps(this)" class="scrolling-image" src="https://i.pinimg.com/originals/d3/20/6e/d3206e29d822afb2308597b4e927f238.jpg" /> -->

        <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="297"
    height="346"
    poster=""
    data-setup="{}"
  >
    <source src="/assets/video/visi.mp4" type="video/mp4"/>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>

      </div>
    </div>


    <div class="col mt-3">
      <p style="text-align: center;text-decoration: underline;">Our Activity</p>
      <br>
      <div class="scrolling-window">

        <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="297"
    height="346"
    poster=""
    data-setup="{}"
  >
    <source src="/assets/video/testi1.mp4" type="video/mp4"/>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
  
    </div>
  </div>


    <div class="col mt-3">

      <p style="text-align: center;text-decoration: underline;">Review</p>
      <br>
      <div class="scrolling-window">
 
        <video 

        id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="297"
        height="346"
        poster=""
        data-setup="{}"
      >
        <source src="/assets/video/review.mp4" type="video/mp4"/>
     
      </video>

      </div>
    </div>
  </div>
</div>

<br>
<p style="text-decoration: underline;text-align: center;">More info: @Instagram <br><br>
  <a href="https://instagram.com/yayasanelmu?igshid=YmMyMTA2M2Y=" target="_blank" style="color: #4b4c4d;text-decoration: none;"><i class="fa-brands fa-instagram fa-4x"></i></p></a>
  


</div>

      
<br><br>
<!-- COntent 2 -->

<div class="card text-center">
  <div class="card-header">
  <!-- Null content -->
  </div>
  <div class="card-body">
    <br class="br_mobile">
    <h5 class="card-title">Program Kerja</h5>
    <p class="card-text">Respect merupakan yayasan dengan fokus aktifitas bantuan kemanusiaan dan pendidikan</p>

    <br>
    <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Our Program
    </button>
    <br><br>
    
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
       
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <i id="fa-color" class="fa-solid fa-truck-medical"></i> &nbsp; Program ambulance gratis</li>
          <li class="list-group-item"><i id="fa-color" class="fa-solid fa-notes-medical"></i> &nbsp;Program pasien kurang mampu</li>
          <li class="list-group-item"><i id="fa-color" class="fa-solid fa-droplet"></i> &nbsp;Program air bersih </li>
          <li class="list-group-item"><i id="fa-color" class="fa-solid fa-graduation-cap"></i> &nbsp; Progran bantuan pendidikan</li>
        </ul>
        
      </div>
    </div>

  </div>
  <div class="card-footer text-muted">
    <!-- last update 2 days ago -->
  </div>
</div>


<!-- Whatapp -->
<script async src='https://d2mpatx37cqexb.cloudfront.net/delightchat-whatsapp-widget/embeds/embed.min.js'></script>
        <script>
          var wa_btnSetting = {"btnColor":"#66cc33","ctaText":"WhatsApp Us","cornerRadius":40,"marginBottom":20,"marginLeft":20,"marginRight":20,"btnPosition":"right","whatsAppNumber":"62895370058700","welcomeMessage":"Hello","zIndex":999999,"btnColorScheme":"light"};
          window.onload = () => {
            _waEmbed(wa_btnSetting);
          };
        </script>
      
      
      



<br><br>
<!-- Start: Footer Basic -->
<footer class="footer-basic">
  <!-- Start: Social Icons -->
  <div class="social" id="contact">
    <a href="https://instagram.com/yayasanelmu?igshid=YmMyMTA2M2Y=" target="_blank"><i class="icon fab fa-instagram-square"></i></a>
    <a href="https://api.whatsapp.com/send?phone=+62895370058700" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
    <a href="https://twitter.com/malesnugas?lang=en" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    <a href="tel:+62895370058700"><i class="icon fas fa-phone-square-alt"></i></a>
  </div>
  <!-- End: Social Icons -->
  
  <!-- Start: Links -->
  <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="{% url 'learnmore' %}">About</a></li>
      <li class="list-inline-item"><a href="{% url 'error' %}">Terms</a></li>
      <li class="list-inline-item"><a href="{% url 'error' %}">Privacy Policy</a></li>
  </ul><!-- End: Links -->

  <!-- Start: Copyright -->
  <h5 class="copyright"><strong>Respect © 2022</strong> </p><!-- End: Copyright -->
</footer><!-- End: Footer Basic -->



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <script src="/js/home.js"></script>
    <script src="https://kit.fontawesome.com/9e3f5721ca.js" crossorigin="anonymous"></script>

    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>


  <script>
    var bridesmaids = [
  "https://www.stockvault.net/data/2011/04/12/121747/thumb16.jpg",
  "https://media.istockphoto.com/photos/laughing-woman-in-park-picture-id658617510?k=6&m=658617510&s=612x612&w=0&h=Ycl_BBwWQop7Wj1wWG3nyQqB5glPxRuqmb02WpKp0ao=",
  "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHAUkFniEvluj2KtEUBap8JkHsLNhWeR-rK4f40jsP-mp_ZJsD","https://us.123rf.com/450wm/vadymvdrobot/vadymvdrobot1507/vadymvdrobot150701917/42975377-happy-attractive-girl-standing-over-gray-background-and-looking-at-camera.jpg?ver=6", "https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      ]
var groomsmen = [
  "https://media.istockphoto.com/photos/handsome-man-picture-id906808234?k=6&m=906808234&s=612x612&w=0&h=4cnBogWZf9aDsCG_UHgdnOvmS3GHhWsrUiRQ9r8u-NM=",
  "https://media.istockphoto.com/photos/pride-man-smiling-picture-id544358286?k=6&m=544358286&s=612x612&w=0&h=hTQxzaOwlaM39OdqZEV_aZokHhPSyBliAqxJgZJnMac=",
  "https://media.istockphoto.com/photos/cheerful-man-smiling-picture-id544358364?k=6&m=544358364&s=612x612&w=0&h=FNv8up_9aCfxvea8tOVFEU6MgRzfLy3G9OomJjmcJO0=","https://media.istockphoto.com/photos/why-not-use-this-copyspace-its-free-picture-id181086342?k=6&m=181086342&s=612x612&w=0&h=ZxB6w_tmE8aN2Gkenus_rpwonnmh_bUtTXVye9o9u3Q=", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqnes6s9AleHAL_YJQkUZ23HFR00rre4w83mGpOb8RGFzC69BH"
      ]

let brideDiamonds = document.querySelectorAll('.bride div.picture');
let groomDiamonds = document.querySelectorAll('.groom div.picture');
let bcount = 0;
let gcount = 0;

for(let diamond of brideDiamonds){
  diamond.setAttribute("style", "background-image: url(" + bridesmaids[bcount] + ")")
  bcount++;
}
for(let diamond of groomDiamonds){
  diamond.setAttribute("style", "background-image: url(" + groomsmen[gcount] + ")")
  gcount++;
}

//hover name show
let allDiamonds = document.querySelectorAll('div.diamond');
for(let diamond of allDiamonds){
  diamond.addEventListener('mouseover', function(e){
    e.target.classList.add('hovered');
    e.target.innerHTML = "<p class='view-name' style='pointer-events: none'>" + e.target.dataset.name +"</p>" + "<p class='view-title' style='pointer-events: none'>" + e.target.dataset.title +"</p>";
    diamond.addEventListener('mouseout', function(e){
      e.target.classList.remove('hovered');
      e.target.innerHTML = '';
    })
  })
}

  </script>


  </body>
</html>